.wrapper {
    width: calc(100vw - 510px); // leftSide(230px) + rightSide(280px) 제외
    height: 100%;
    flex-shrink: 0;
    position: relative;


  .dateHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 14px;
    padding: 9px 16px;
    height: 30px;
  

      &__dateBox {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25%;
        // font-weight: 600;
      }

      &__today {
        background-color: main.$color-blue-600; 
        color: main.$color-gray-000;
      }

      &__notToday {
        background-color: transparent;
        color: main.$color-gray-600;
      }
    }
  .timeGrid {
    position: relative;
    flex: 1;
    overflow-y: scroll;
    border-top: 1px solid main.$color-gray-200;
    max-height: calc(100vh - 90px); // middleSide 헤더(60px) + dateHeader(30px) 높이 제외

    // 스크롤바 안보이게 하기
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    .allDayRow {
      display: flex;
      align-items: center;
      position: sticky;
      top: 0;
      background: white;
      z-index: 5;
      height: 20px;
      border-bottom: 1px solid #ddd;

      &__label {
        width: 50px;
        font-size: 12px;
        color: #888;
        text-align: right;
        flex-shrink: 0;
      }
    }

    .hourRow {
      display: flex;
      position: relative;
      height: 60px;
      align-items: flex-start; 
      gap: 8px;
    

      &__label {
        width: 50px;
        font-size: 12px;
        color: main.$color-gray-500;
        text-align: right;
        line-height: 0px;
        height: 15px;
        flex-shrink: 0;
        user-select: none;
        pointer-events: none;
      }

        &__column {
        position: relative;
        flex: 1;
        z-index: 1;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        border-top: 1px solid main.$color-gray-200;
        border-left: 1px solid main.$color-gray-200;
      }
    }
  }
}