.todoList {
  padding: 16px;

  &__todoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    position: relative; 

    &__todoDate{
      font-size: 12px;
      color: main.$color-gray-500;
      margin-left: 5px;
    }

    &:hover .todoList__todoItem__closeIcon {
      visibility: visible;
      opacity: 1;
    }

    &__closeIcon {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.2s ease;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      color: main.$color-gray-500;
    }
  }
}

.completed {
  text-decoration: line-through;
  color: main.$color-gray-300;
}
