.todoList {
  padding: 16px;

    &__todoItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;

        &:hover .closeIcon {
            visibility: visible;
        }

        &__closeIcon {
        visibility: hidden;
        color: #999;
        cursor: pointer;
        }
    }
}