.container{
    display: flex;
    width: 100vw;
    height: 100vh; // 세로도 예쁘게 보고 싶다면

    .leftSide {
        background-color: #f5f5f5;
        width: 230px; // 고정 너비
        box-shadow: inset -1px 0 0 rgba(black, 0.05);
    }
    .rightSide {
        background-color: #fff;
        width: 280px; // 고정 너비
        box-shadow: inset -1px 0 0 rgba(black, 0.05);
    }

    .middleSide {
        flex: 1; // 남은 공간 모두 차지
        background-color: #fff;
        box-shadow: inset -1px 0 0 rgba(black, 0.05);
    }
}